.brand-link .brand-image-xs {
    max-height: 60px;
}

.layout-fixed .brand-link {    
    height: 85px;
}

.navbar {
    border-bottom: 5px solid $apc_gold;
}

[class*=sidebar-dark] .nav-header {
    color: $apc_gold;
    font-weight: bold;
}

.sidebar-dark-primary .nav-sidebar>.nav-item>.nav-link.active, .sidebar-light-primary .nav-sidebar>.nav-item>.nav-link.active {
    background-color: $apc_gold;
    color: #fff;
}

.os-padding {
    top: 2.5rem !important;
}

.content-wrapper>.content {
    padding: 0 .5rem 5rem;
}

.main-footer {
    background-color: $apc_blue; 
    position: fixed;
    left: 0;
    bottom: 0;    
    width: 100%;
    height: 3.5rem;    
    margin-top: 2rem;
    z-index: 1000;
}

.text-apc-gold {
    color: $apc_gold !important;
}

.text-apc-blue {
    color: $apc_blue !important;
}

.bg-apc-gold {
    background-color: $apc_gold !important;
}

.bg-apc-blue {
    background-color: $apc_blue !important;
}